body{
  background-color:rgb(69, 198, 181);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; color: whitesmoke;
}

fieldset{
  text-align: center;
  border-radius: 8px;
  border-color: whitesmoke;
}

.LoginBox{
  position: absolute;
  background-color: rgba(18, 13, 13, 0.863);
  width: 240px;
  height: 295px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: whitesmoke;
  padding: 10px;
  border-radius: 10px;
}

.boxSub{
  background: none;
  width: 450px;
  height: 70px;
  padding: 5px;
  float: left;
}

.inputBox{
  position: relative;
}

.inputUser{
  background: none;
  border: none;
  border-bottom: 1px solid white;
  outline: none; color: white;
  font-size: 16px;
  width: 98%;
  letter-spacing: 2px;
}

.labelInput{position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: .5s;
}

#submit{
  background-color: rgb(22, 124, 227);
  width: 98%;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}

#submit:hover{
  background-color: darkblue;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
  top: -10px;
  font-size: 10px;
  color: white;
}